{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Janus Maritz</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/janusmaritz.jpg' %}" >
					<hr>
					<h4>Hi I'm Janus!</h4>
					<p>I love coding, doing research and challenging myself</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Me as a developer</h4>
					<hr>
					<p>I am a young junior developer, and I am hungry to learn. I don't have that much experience working in the field, but I am always up for a challenge, and I will always try my absolute best to accomplish any task at hand. </p>

					<p>I view myself as a fast learner that can adapt in any situation without having to sacrifice too much. I think it is very important to be able to learn fast and to be able to work with a team, especially in the field of development.</p>

					<p>I am young, hungry to learn, and always willing to go the extra mile and to make sure I do my best.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.svg' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.svg' %}"></li>
						<li><img class="social" src="{% static 'images/github.svg' %}"></li>
						<li><img class="social" src="{% static 'images/instagram.svg' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>I do not have that much experience as a developer, other than the experience I gained doing projects for my university modules.</p>
					<p>One of my biggest projects I would say is a group project where we had to design a POS for a local brewery.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Other Work Experience</h5>
					<hr>
					<p>I worked at a family business that buys and sells wood. Some of my responsibilities in this position were to handle transactions, work and communicate with customers and also do deliveries where I delivered wood and other braai products to customers.</p>
					<p>I also worked at a monthly diamond tender. I worked a lot with clients and helped them to browse through the products. I also assisted them in any way possible.</p>
				</div>
			</div>
		</div>
		<br>
        <div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Education</h5>
					<hr>
					<p>I am a final year Information Technology student at North West University. In my years of study, I have acquired a lot of skills that will help me in this field.</p>
					<p>I Attended Northern Cape High School where I achieved full colors in Debate and Badminton. In my final year, I was elected as one of the members of the school's Management Committee. I maintained a good academic record and I was a well‐balanced student.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Courses that I have done</h5>
					<hr>
                    <p><b>Complete Python Developer in 2021: Zero to Mastery</b>, Udemy. This is an online course for Python 3 development. The course includes a variety of topics such as Web Development, Machine Learning and Data Science, Image Processing and a few more.</p>
                    <p><b>The Complete Android N Developer Course</b>, Udemy. This is a course for Applications Development with Android N using Android Studio and Java.</p>
				</div>
			</div>
		</div>
		<br>
        <div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Some of my Good Skills</h5>
					<hr>
					<p>- Teamwork</p>
					<p>- Good leadership skills</p>
                    <p>- Project Management</p>
                    <p>- Fast Learner</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, C#, Database Design, Postgres, AWS and a few API's</p>
					<p>I would say Python is my strongest language, and I feel most comfortable using it, but I am always willing to learn about new languages and technologies.</p>
				</div>
			</div>
		</div>
        <br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>I learn by collaborating with other people in my field and learning some of their tips and tricks.</p>

					<p>I also pride myself in my ability that I a can learn fast and adapt quickly. Learning new languages and technologies as never that hard for me, and I could always succeed.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Goals I want to achieve</h5>
				<hr>
				<p>The first goal that I want to achieve is to be a well-rounded software developer for a good company.</p>
				<p>A second goal of mine is to develop software that would help to make a difference in a struggling community.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>